<!-- <h1>Password Generator</h1>

<div>
  <label for="">Enter length</label>
  <input type="text" #input (input)="onChangeLength(input.value)" />
</div>

<div>
  <label for="">Use Letters</label>
  <input type="checkbox" (change)="onChangeUseLetters()" name="" id="" />
</div>

<div>
  <label for="">Use Numbers</label>
  <input type="checkbox" (change)="onChangeUseNumbers()" name="" id="" />
</div>

<div>
  <label for="">Use Symbols</label>
  <input type="checkbox" (change)="onChangeUseSymbols()" name="" id="" />
</div>

<div>
  <button
    (click)="onButtonClick()"
    [disabled]="
      !(length && (includeLetters || includeNumbers || includeSymbols))
    "
    class="button is-link is-full"
  >
    Generate!
  </button>
</div>

<div>
  <label for="">Your Password</label>
  <input type="text" [value]="password" />
</div> -->

<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Password Generator</h1>

      <div class="field">
        <label>Length</label>
        <input class="input" type="text" #input (input)="onChangeLength(input.value)" />
      </div>

      <div class="field" style="display:flex; flex-direction:column; gap:.5rem;">
        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseLetters()"/>
            Use Letters
          </label>
        </div>

        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseNumbers()"/>
            Use Numbers
          </label>
        </div>

        <div class="control">
          <label class="checkbox">
            <input type="checkbox" (change)="onChangeUseSymbols()"/>
            Use Symbols
          </label>
        </div>
      </div>

      <div>
        <button
          (click)="onButtonClick()"
          [disabled]="
            !(length && (includeLetters || includeNumbers || includeSymbols))
          "
          class="button is-link is-fullwidth"
        >
          Generate!
        </button>
      </div>

      <div class="box mt-3" *ngIf="password">
        <label>Your Password!</label>
        <input disabled class="input" [value]="password">
      </div>

    </div>
  </div>
</div>
